# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages/
/node_modules/
/lib/
/dist/

# toolsets
/tools/*
!/tools/DvSchemaSync/
/tools/DvSchemaSync/bin/
/tools/DvSchemaSync/obj/
!/tools/resx-audit/
/tools/resx-audit/bin/
/tools/resx-audit/obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# Local settings store
settings.db
settings.db-shm
settings.db-wal

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
Log/
SCD/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio 2017 cache/options directory
.vs/

# Rider files
.idea/

# Mac files
.DS_Store

# Fody
FodyWeavers.xml
